<h1>Star Wars Films</h1>

<turbo-frame id="films-frame">
    <table>
    <thead>
        <tr>
        <th>Title</th>
        <th>Director</th>
        <th>Release Date</th>
        </tr>
    </thead>
    <tbody>
        <% @films.each do |film| %>
        <tr data-turbo-action="replace" data-controller="film" data-action="click->film#showDetails" data-url="<%= film["url"] %>">
            <td><%= film["title"] %></td>
            <td><%= film["director"] %></td>
            <td><%= film["release_date"] %></td>
        </tr>
        <% end %>
    </tbody>
    </table>
</turbo-frame>

<!-- Details container -->
<div id="details-view"></div>