<h1 class="text-3xl font-bold mb-6 text-center">Star Wars Films</h1>

<turbo-frame id="films-frame">
  <table class="table-auto border-collapse w-full bg-white shadow-md rounded-lg">
    <thead class="bg-gray-100">
      <tr>
        <th>Title</th>
        <th>Director</th>
        <th>Release Date</th>
      </tr>
    </thead>
    <tbody>
      <% @films.each do |film| %>
        <tr>
          <td><%= link_to film["title"], film_path(film["url"].split('/').last), data: { turbo_frame: "films-frame" } %></td>
          <td><%= film["director"] %></td>
          <td><%= film["release_date"] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</turbo-frame>




<!-- Details container -->
<div id="details-view"></div>