<h1>Star Wars Films</h1>

<turbo-frame id="films-frame">
  <div class="items-container">
    <% @films.each do |film| %>
      <div class="item-card">
        <h2><%= link_to film["title"], film_path(film["url"].split('/').last), data: { show_spinner: true, turbo: "false" } %></h2>
        <p><strong>Director:</strong> <%= film["director"] %></p>
        <p><strong>Release Date:</strong> <%= film["release_date"] %></p>
      </div>
    <% end %>
  </div>
</turbo-frame>
