<h1>Star Wars People</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Gender</th>
      <th>Birth Year</th>
    </tr>
  </thead>
  <tbody>
    <% @people.each do |person| %>
      <tr data-turbo-action="replace" data-controller="person" data-action="click->person#showDetails" data-url="<%= person["url"] %>">
        <td><%= person["name"] %></td>
        <td><%= person["gender"] %></td>
        <td><%= person["birth_year"] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- Details container -->
<div id="details-view"></div>