<h1>Star Wars Vehicles</h1>

<turbo-frame id="vehicles-frame">
  <div class="items-container">
    <% @vehicles.each do |vehicle| %>
      <div class="item-card">
        <h2><%= link_to vehicle["name"], vehicle_path(vehicle["url"].split('/').last), data: { show_spinner: true, turbo: "false" } %></h2>
        <p><strong>Model:</strong> <%= vehicle["model"] %></p>
        <p><strong>Manufacturer:</strong> <%= vehicle["manufacturer"] %></p>
        <p><strong>Passengers:</strong> <%= vehicle["passengers"] %></p>
      </div>
    <% end %>
  </div>
</turbo-frame>
